<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>表单输入绑定</title>
</head>
<body>
<div id="demo">
    <!-- 表单提交时候可以在form表单中通过submit绑定提交 -->
  <form @submit.prevent="submitHandle">
    <span>用户名: </span>
    <input type="text" v-model="user.username"><br>

    <span>密码: </span>
    <input type="password" v-model="user.password"><br>

    <span>性别: </span>
    <!-- 性别要想收集到的数据为数字，则添加： -->
    <input type="radio" id="female" v-model="user.gender" :value="0">
    <label for="female">女</label>
    <input type="radio" id="male" v-model="user.gender" :value="1">
    <label for="male">男</label><br>

    <span>爱好: </span>
    <input type="checkbox" id="basket" v-model="user.hobby" value="basketball">
    <label for="basket">篮球</label>
    <input type="checkbox" id="foot" v-model="user.hobby" value="football">
    <label for="foot">足球</label>
    <input type="checkbox" id="pingpang" v-model="user.hobby" value="pingpang">
    <label for="pingpang">乒乓</label><br> 

    <span>城市: </span>
    <select v-model="user.city">
      <option value="0">未选择</option>
      <option value="13">北京</option>
      <option value="14">上海</option>
      <option value="15">成都</option>
      <option value="16">重庆</option>
    </select><br>
    <span>介绍: </span>
    <textarea rows="10" v-model="user.introduction"></textarea><br><br>

    <input type="submit" value="注册" >
  </form>
</div>

<script type="text/javascript" src="./vue.js"></script>
<script type="text/javascript">
    new Vue({
        el:"#demo",
        data:{
            user:{
                username:"",
                password:"",
                gender:0,
                hobby:[],
                city:"",
                introduction:""
            }
        },
        methods:{
            submitHandle(){
                console.log(1)
            }
        }
    })
</script>
</body>
</html>