<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="root">
        <input type="text" v-model="firstname" placeholder="firstname"/>
        <input type="text" v-model="lastname" placeholder="lastname"/>
        <input type="text" v-model="fullname" placeholder="fullname"/>
    </div>
    <script src="./vue.js"></script>
    <script>
        new Vue({
            el:"#root",
            data:{
                firstname:"zhao",
                lastname:"xianyong",
            },
            computed:{
                fullname:{
                    get(){
                        return this.firstname+" "+this.lastname
                    },
                    set(value){
                        ( [firstname,lastname]=value.split(" "));
                        this.firstname=firstname;
                        this.lastname=lastname;
                    }
                }
            }
        })
    </script>
</body>
</html>