<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="test">
        姓：<input type="text" placeholder="firstname" v-model="firstName"/><br/>
        名：<input type="text" placeholder="lastname" v-model="lastName"/><br/>
        姓名：<input type="text" placeholder="fullname" v-model="fullName"/><br/>
    </div>
    
    <script src="./vue.js"></script>
    <script>
        new Vue({
            el:"#test",
            data:{
                firstName:"zhao",
                lastName:"xianyong",
                // fullName:"zhaoxianyong"
            },
            //只读计算属性
            // computed:{
            //     fullName(){         
            //              return this.firstName+" "+this.lastName             
            //     }
              
            // }
            computed:{
                fullName:{
                    //读取属性
                    get(){
                        return this.firstName+" "+this.lastName
                    },
                    //设置属性
                    set(newValue){
                        const [firstName,lastName]=newValue.split(" ");
                        this.firstName=firstName;
                        this.lastName=lastName;
                    }
                }
            }

        })
    </script>
</body>
</html>